body {
  display: inline;
  max-width: 1200px;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


.header {
  margin-top: 50px;
  max-width: 1200px;
  width: 100%;
}

.footer {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
  background: green;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer h4 {
  color: white;
}

label {
  display: none;
  border: 1px solid black;
  min-width: 100px;
}

h1 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  width: 100%;
  align-self: flex-start;
}

h3 {
  text-align: left;
  width: 100%;
  align-self: center;
  margin-bottom: 0px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  width: 100%;
}

h5 {
  margin: 0px;
  text-align: left;
  width: 100%;
}

p {
  margin: 0px;
  margin-bottom: 20px;
}

.anon {
  text-align: center;
  width: 100%;
  align-self: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
